# Path to your Google OAuth 2.0 Client credentials downloaded from the Google Cloud Console
GOOGLE_CREDENTIALS_PATH=credentials.json

# (Generated automatically) Path to the saved token after successful authentication
GOOGLE_TOKEN_PATH=token.json

# Comma-separated list of email addresses from which to download attachments
TARGET_EMAIL_ADDRESSES=statements@bank.com,info@finance.example

# Directory to save downloaded attachments
# By default, it resolves to ../../data/card_statements_locked relative to main.py
# OUTPUT_DIR=../../data/card_statements_locked
